<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</style>
</head>
<body >
<div class="signup-form" >
    <form method="POST" action="{{ url_for('predict')}}" class="form-group text-center ">
		<div class="row">
		<div class="col-lg-3">
			<label>Longitude</label>
			<input type="text" name="longitude" class="form-control" placeholder="Longitude" >
		</div>
		<div class="col-lg-6">
			<label>Latitude</label>
			<input type="text" name="latitude" class="form-control" placeholder="Latitude">
		</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6">
				<label>Housing_median_age</label>
				<input type="text" name="housing_median_age" class="form-control" placeholder="housing_median_age">
			</div>
			<div class="col-lg-6">
				<label>total_rooms</label>
				<input type="text" name="total_rooms" class="form-control" placeholder="total_rooms">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6">
				<label>total_bedrooms</label>
				<input type="text" name="total_bedrooms" class="form-control" placeholder="population">
			</div>
			<div class="col-lg-6">
				<label>population</label>
				<input type="text" name="population" class="form-control" placeholder="households">
			</div>
		</div>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<label>households</label>
					<input type="text" name="households" class="form-control" placeholder="median_income">
				</div>
				<div class="col-lg-6">
					<label>median_income</label>
					<input type="text" name="median_income" class="form-control" placeholder="total_bedroom">
				</div>
				</div>
				<br>
											<label>ocean_proximity </label>
												<select class="form-control select" name="ocean_proximity">
													<option value="INLAND"> INLAND  </option>
													<option value="NEAR OCEAN"> NEAR OCEAN </option>
													<option value="NEAR BAY"> NEAR BAY</option>
													<option value="ISLAND "> ISLAND </option>
												   
												</select>
												<br>
								   <input type="submit" class="  btn-primary btn-block btn-lg uu ">
							</form>
							
						   </div>
				</div>
				<div style="text-align:right; margin-top:350px;">
				  <textarea rows="2" cols="25" style="text-align:right;padding-right:30px ">{{prediction_text}}</textarea></div>
			</div>	
	     
    </form>
	
</div>
</body>
</html>

